.background_image_blured{
    background-image: url('/images/jpg/backgrounds/6.jpg'); 
}

.page_info{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




@media only screen and (max-width: 1199.98px){

    .page_info{
        background-color: rgba(255,255,255,0.3);
        width: 100%;
        margin: auto;
        border-radius: 0 0 12px 12px;
    }

}

@media only screen and (min-width: 1200px) {
    
    .page_info{
        background-color: rgba(255,255,255,0.3);
        width: 60%;
        margin: auto;
        border-radius: 0 0 5px 88px;
    }



}


.rounds_grid{
    margin-top: 4rem;
}

.rounds_grid .col-xl-6{
    margin: 1rem 0 1rem 0;
}


.rounds_container:link {
    text-decoration: none;
    color: white;
}
  
.rounds_container:visited {
    text-decoration: none;
    color: white;
}

.rounds_container:hover {
    text-decoration: none;
    color: white;
}

.rounds_container:active {
    text-decoration: none;
    color: white;
}


.rounds_container{
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    width: 75%;
    color: white;
    transition: .3s;
    cursor: pointer;
    margin: 0 auto 0 auto;
}

.rounds_container:hover{
    transform: scale(1.1);
    background-color: black;
}


 
.gg{
    z-index: -1;
    transition: .2s;
    opacity: 0;
    width: 70%;
    height: 0px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgba(0, 0, 0, .6);
}

.rounds_container:hover + .gg{
    height: 220px;
    opacity: 1;
    transition-delay: 0.5s;
}

.gg_content{
    width: 100%;
    text-align: center;
}

.gg_content p{
    color:white;
    text-decoration: underline;
    margin: 1rem auto .5rem auto;
}

.gg_content img{
    width: 80%;
    height: 150px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.round_info{
    width: 30%;
    height: 100%;
    border-right: 2px black solid;
}



.race_info{
    width: 59.98%;
    text-align: center;
}

.toLink{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}



@media only screen and (max-width: 399.98px) {


    .rounds_container{
        border: 1px solid grey;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgba(0, 0, 0, .6);
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        transition: .3s;
        cursor: pointer;
    }

    .round_info{
        display:none;
    }

    .round_info img{
        display:none;
    }


    .race_info p{
        margin: .6rem .2rem .2rem .2rem;
        font-size: 1rem;
        border-bottom: 1px solid silver;
    }


}


@media only screen and (min-width: 400px) {


    .round_info{
        display:none;
    }

    .round_info img{
        margin: .3rem .8rem 0 0;
        width: 90%;
        height: 90%;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }


    .race_info p{
        margin: .6rem .2rem .2rem .2rem;
        font-size: 1rem;
        border-bottom: 1px solid silver;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    .round_info{
        display:none;
    }

    .round_info img{
        margin: .3rem .8rem 0 0;
        width: 90%;
        height: 90%;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }


    .race_info p{
        margin: .6rem .2rem .2rem .2rem;
        font-size: 1rem;
        border-bottom: 1px solid silver;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .round_info{
        display:block;
    }

    .round_info img{
        margin: .3rem .8rem 0 0;
        width: 90%;
        height: 90%;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .race_info p{
        margin: 2.8rem 0 0 0;
        border-bottom: none;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .round_info{
        display:block;
    }

    .round_info img{
        margin: 1.4rem .8rem 0 .8rem;
        width: 70%;
        height: 70%;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .race_info p{
        margin: 3.3rem 0 0 0;
        font-size: 1.2rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .round_info{
        display:block;
    }

    .round_info img{
        margin: .3rem .8rem 0 0;
        width: 90%;
        height: 90%;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .race_info p{
        margin: 1.4rem 0 .5rem 0;
        font-size: 1rem;
    }
    


}





